.pagination-container {
  display: flex;
  align-items: center;
  list-style-type: none;
  border-radius: 2px;
  color: #fff;
  padding: 0;
}

.pagination-container:nth-of-type(2) {
  border-left: 1px solid lightgray;
}
.pagination-link {
  cursor: pointer;
  text-align: center;
  margin: 0 5px;
  padding: 5px 10px;
}

.pagination-item {
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  border-top: 0px;
  border-bottom: 0px;
  color: #4834d4;
  width: 30px;
  height: 30px;
}
.prev-pagination-item {
  height: 100%;
  text-align: center;
  margin: 0;
  color: #4834d4;
  padding: 5px 10px;
}
.next-pagination-item {
  height: 100%;
  text-align: center;
  margin: 0;
  color: #4834d4;
  padding: 5px 10px;
}
.pagination-item:hover {
  background-color: #4834d4;
  color: #f3f3f3;
  border-radius: 3px;
  width: 30px;
  height: 30px;
}
.prev-pagination-item:disabled {
  cursor: not-allowed;
}
.pagination-ellipsis {
  border-left: 1px solid gray;
}
.active {
  background-color: #4834d4;
  width: 30px;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  color: #f4f5f7;
}
.disabled {
  cursor: not-allowed;
  color: lightgray;
}
